# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Ignore executables
*.exe

# Ignore dist folder
main/app/dist/

# Ignore node_modules
main/app/node_modules/

# Ignore specific files or folders
Nexora/Nexora.exe
main/app/dist/Nexora-win32-x64/Nexora.exe
main/app/dist/win-unpacked/electron.exe
